@font-face {
  font-family: "iconfont";
  src: url("//at.alicdn.com/t/font_1995827_cjwa0tf3h3m.eot?t=1596975417944"); /* IE9 */
  src: url("//at.alicdn.com/t/font_1995827_cjwa0tf3h3m.eot?t=1596975417944#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK8AAsAAAAABrwAAAJtAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBIIEaATYCJAMMCwgABCAFhG0HOhvkBciusCnDvUiJzLhjKfTIR1zgwpqM4uG/td99M7OLSoKfEItQ8dNVE54KCVIgdCqHUOlewh6uaQpoK0xch09uDArt4yVNn/P3BTcUjowhY6ZITm5yjvthlHle7dUnQPz8k0POW4HL06fPJ+6d/lFAgcxnWW5rz/MxARMMdA9skxVJAN4wdoFLOE+gU8uEwub67gGpK6xpgXgU3Cb1XFhRWK5dqGvWFvGi0p6eUojn8Pvxz4g6SZVZc7eu1zyy+OWzlY+bY2c+IUKAmytkLCAKcVGbPlISjFXSqS63l9aKkOaKNQ2hWNfWO/3jJaJmVXeDGZhJfHEFBF+tDRLIoI6zE4glxBx+fBKljMlne/EczpvAbzYVPbiSGGLe5ZUxZ9feD/Z+f8vY7odB/+/dMPWh7zYiX/s/lX6PXCFoys8ZyPvFNwUE48vGo9k3u72rgM+Dzikcbir6a9vP4Qn+maRnV9FlliUXVeyKTW82NjKV0Kn7NCz/oI/x2pHeSUJ7TsKQtBlH1m6CLMwFVLosotZuBZ3mbWzuMkQqidKBORcAod8Dkl5vyPq9koX5jsqoL9T6o4ROB9Has8tUiOaKBBvBo86QCjeOmGPDZlS7BzwPbJmVhewjkJmIUV3RirkNiEDOsSDrcQORUSbjkK6DyyAIYprIuAsuKh3EZFpVWd2bFDcOSdMGCdgQ8FCOIUpwxSLMH4yapc/vAVwuYJMtdTXhI0DKiOEpnULrQW6oo15193JNpoczIMRQjBQLUetgFAgEYlRSP6oLuJCiMyKZmKba/VhftbK+NvyAItaEtTZHihxFfZPbkSNqgUsnBAAAAA==")
      format("woff2"),
    url("//at.alicdn.com/t/font_1995827_cjwa0tf3h3m.woff?t=1596975417944")
      format("woff"),
    url("//at.alicdn.com/t/font_1995827_cjwa0tf3h3m.ttf?t=1596975417944")
      format("truetype"),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url("//at.alicdn.com/t/font_1995827_cjwa0tf3h3m.svg?t=1596975417944#iconfont")
      format("svg"); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e600";
}

.icon-guanbi1:before {
  content: "\e61e";
}
